# Domain
DOMAIN=localhost

#Temporary api_host for documentation with SwaggerUI or Postman for example#
API_HOST=http://localhost:8000

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Project Management Service API"
STACK_NAME=fastapi-service-project-management

# Backend
SECRET_KEY=changethis

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=changethis
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

#S3#
S3_BUCKET_NAME=
AWS_REGION=
AWS_PROFILE=

# Configure these with your own Docker registry image
DOCKER_IMAGE_BACKEND=backend